:root {
  --primaria-: #2f3532;
  --secundaria-: #525855;
  --terceira-: #f0e5c9;
  --branco-: #ffffff;
  --preto-: #000000;
}

:root {
  --cardy-width: 200px;
  --cardy-height: 300px;
  --cardy-transition-duration: 800ms;
  --cardy-transition-easing: ease;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
}

h2 {
  font-size: 25px;
  color: var(--branco-);
}

.hidden {
  display: none;
}
  
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  
  /*HEADER DESKTOP*/
.header-menu {
  display: flex;
  gap: 40px;
}
  
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}
  
.img-logo {
  width: 10%;
}
  
  /*HEADER MOBILE*/
.nav-button {
    border: 0;
    border-radius: 4px;
    padding: 8px;
    color: var(--secundaria-);
    background-color: var(--terceira-) ;
    margin: 8px;
    cursor: pointer;
  }
  
  .nav-button i {
    color: var(--secundaria-);
  }
  
  .overlay {
    width: 0;
    height: 100%;
    background-color: var(--terceira-);
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    color: var(--primaria-);
    display: block;
    font-size: 25px;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: var(--secundaria-);
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 25px;
    right: 45px;
    font-size: 60px;
  }
  
  .bg-home {
    position: relative;
  }
  
  .bg-home::before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #2f3532), url('../imagens/img_principal.jpg');
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
  }
  
  .header-mobile {
    position: relative;
  }
  
  .hero {
    color: var(--branco-);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
  }
  .hero h1 {
    text-align: center;
    line-height: 150%;
    max-width: 940px;
  }

  /*Nossa Barbearia*/

  .container_nossa_barbearia {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .content {
    margin-top: 2rem;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .content_nossa_barbearia {
    width: 300px;
    height: 260px;
    background-color: var(--terceira-);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 9px 9px 1px var(--preto-);
  }


  /*SERVIÇOS*/
  
  .services {
    color: var(--preto-);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
    background-color: var(--primaria-);
  }

  .services-content {
    display: flex;
    justify-content: center;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
    border: none;
  }
  
  .app {
    position: relative;
    top: 70px;
    margin-bottom: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    filter: blur(8px);
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    overflow: hidden;
  }
  
  .app__bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--preto-);
    z-index: 1;
    opacity: 0.8;
  }
  
  .app__bg__image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
    width: 180%;
    height: 180%;
    transition: transform 1000ms ease, opacity 1000ms ease;
    overflow: hidden;
  }
  
  .app__bg__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .app__bg__image.current--image {
    opacity: 1;
    --image-translate-offset:0;
  }
  
  .app__bg__image.previous--image, .app__bg__image.next--image {
    opacity: 0;
  }
  
  .app__bg__image.previous--image {
    --image-translate-offset: -25%;
  }
  
  .app_bg__image.next--image {
    --image-translate-offset: -25%;
  }
  
  .cardyList {
    position: absolute;
    width: calc(3 * var(--cardy-width));
    height: auto;
  }
  
  .cardyList__btn {
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  
  .cardyList__btn.btn--left {
    left: -5%;
  }
  
  .cardyList__btn.btn--right {
    right: -5%;
  }
  
  .cardyList__btn .icon {
    width: 100%;
    height: 100%;
  }
  
  .cardyList__btn .icon svg {
    width: 100%;
    height: 100%;
  }
  
  .cardyList .cardys__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  
  .cardy {
    --cardy-translateY-offset: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--cardy-translateX-offset)) translateY(var(--cardy-translateY-offset)) rotateY(var(--cardy-rotation-offset)) scale(var(--cardy-scale-offset));
    display: inline-block;
    width: var(--cardy-width);
    height: var(--cardy-height);
    transition: transform var(--cardy-transition-duration) var(--cardy-transition-easing);
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  
  .cardy::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--preto-);
    z-index: 1;
    transition: opacity var(--cardy-transition-duration) var(--cardy-transition-easing);
    opacity: calc(1 - var(--opacity));
  }
  
  .cardy__image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .cardy__image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .cardy.current--cardy {
    --current-cardy-rotation-offset: 0;
    --cardy-translateX-offset: 0;
    --cardy-rotation-offset: var(--current-cardy-rotation-offset);
    --cardy-scale-offset: 1.2;
    --opacity: 0.8;
  }
  
  .cardy.previous--cardy {
    --cardy-translateX-offset: calc(-1 * var(--cardy-width) * 1.1);
    --cardy-rotation-offset: 25deg;
  }
  
  .cardy.next--cardy {
    --cardy-translateX-offset: calc(var(--cardy-width) * 1.1);
    --cardy-rotation-offset: -25deg;
  }
  
  .cardy.previous--cardy, .cardy.next--cardy {
    --cardy-scale-offset: 0.9;
    --opacity: 0.4;
  }
  
  .infoList {
    position: absolute;
    width: calc(3 * var(--cardy-width));
    height: var(--cardy-height);
    pointer-events: none;
  }
  
  .infoList .info__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  .info {
    margin-bottom: calc(var(--cardy-height) / 8);
    margin-left: calc(var(--cardy-width) / 1.5);
    transform: translateZ(2rem);
    transition: transform var(--cardy-transition-duration) var(--cardy-transition-easing);
  }
  
  .info .text {
    position: relative;
    font-family: "Montserrat";
    font-size: calc(var(--cardy-width) * var(--text-size-offset, 0.2));
    white-space: nowrap;
    color: var(--branco-);
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .info .name {
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .info .description {
    --text-size-offset: 0.065;
    font-weight: 500;
    font-size: 20px;
  }
  
  .info.current--info {
    opacity: 1;
    display: block;
  }
  
  .info.previous--info, .info.next--info {
    opacity: 0;
    display: none;
  }
  
  .loading__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--preto-);
    z-index: 200;
  }
  
  .loading__wrapper .loader--text {
    color: var(--branco-);
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 1.4rem;
  }
  
  .loading__wrapper .loader {
    position: relative;
    width: 200px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
  }
  
  .loading__wrapper .loader span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: red;
    transform: scaleX(0);
    transform-origin: left;
  }
  
  @media only screen and (max-width: 768px) {
    :root {
      --cardy-width: 80px;
      --cardy-height: 150px;
    }
  }
  .app {
    margin-top: 120px;
  }
  
  .support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
  }
  
  .support a {
    margin: 0 10px;
    color: var(--branco-);
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
  }
  
  .support a:hover {
    transform: scale(1.1);
  }

/*-------PRODUCTS---------*/

.container_produtos {
  width: 100%!important;
}

.produtos {
  padding: 1rem; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6px;
  row-gap: 20px;
}

.content-produtos {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card {
  width: 150px;
  height: 160px;
  background-color: var(--primaria-);
  border: none;
}

.img_produtos {
  width: 100%;
  height: 100%;
  border: 2px groove var(--preto-);
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: center;
}

.btn-white {
  background-color: var(--branco-);
  color: var(--preto-);
  border-radius: 10px;
  padding: 7px;
  font-size: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-white:hover {
  background-color: var(--secundaria-)!important;
  color: var(--branco-)!important;
}

.active {
  background-color: var(--secundaria-)!important;
  color: var(--branco-)!important;
  border: none!important;
}

/*
.info {
    position: absolute;
    width: 100%;
    top: 80%;
    right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Sora', sans-serif;
    font-size: 10px;
} */

/*Botão do Whatsapp*/
.container_wpp {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_wpp > a > button {
  background-color: var(--branco-);
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.container_wpp > a > button:hover {
  background-color: var(--secundaria-);
  color: var(--branco-);
}

/*Contatos*/
.container_contatos {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_contato {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.div_contato > a > i{
  font-size: 30px;
  color: var(--branco-);
}

/*Localização*/

.container_localizacao {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.localizacao {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.maps {
    width: 80%;
    height: 400px;
    border: none;
}

/*Desenvolvedor*/
footer {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.desenvolvedor {
    color: var(--preto-);
    font-family: 'Sora', sans-serif;
    font-size: 14px;
}

.contato_dev {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contato_dev > a > i {
  font-size: 14px;
  color: var(--preto-);
}

.agendamento {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 12px;
  right: 12px;
  width: 110px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 6px 5px;
  background-color: var(--terceira-);
  color: var(--preto-);
  z-index: 9998;
  transition: 1s;
}

.agendamento:hover {
  transform: scale(1.05);
}

  
  